
.panel_outer_wrapper{max-width: 400px; width: 100%;position:relative;float: left;margin: 10px;}
.panel_wrapper{width: 100%;height: 500px;border: 1px solid #ccc;margin: 16px 0;display: flex;flex-direction: column;}
.panel_wrapper .panel_head{display: flex; align-items: center; justify-content: space-between;padding: 0 16px;border-bottom: 1px solid #ccc;background-color: #fff;position: sticky;top: 0;}
.panel_wrapper .panel_head .head_option{cursor: pointer;}
.panel_wrapper .panel_head .head_option:hover{opacity: 0.7;}
.panel_wrapper .panel_body{background-color: #fff;height: 100%;overflow-y: auto;overflow-x: hidden;}
.panel_wrapper .panel_body .option{width: calc(100% - 32px);padding: 16px;border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;}

.sx_tabs{display:flex;flex-wrap:wrap;margin-top: 24px;}
.sx_tabs label{order:1;display:block;padding:1rem 2rem;margin-right:.2rem;cursor:pointer;background:#90caf9;font-weight:700;transition:background ease .2s}
.sx_tabs .tab{order:99;flex-grow:1;width:100%;display:none;padding:1rem;background:#fff}
.sx_tabs input[type=radio]{display:none}
.sx_tabs input[type=radio]:checked+label{background:#fff}
.sx_tabs input[type=radio]:checked+label+.tab{display:block}
@media (max-width:45em){.sx_tabs .tab,.sx_tabs label{order:initial}
.sx_tabs label{width:100%;margin-right:0;margin-top:.2rem}}