*{ box-sizing: border-box; margin: 0; padding: 0; }
[pointer="true"]{cursor: pointer;}
[pointer="true"]:hover{opacity: 0.8;}
[btn="default"]{ padding: 12px 24px; border: none; background: #45a049; color: #fff;cursor: pointer;}

/*
*   Loading screen
*/
.sx_loading_screen{width: 100%;position: fixed;height: 100vh; background-color: #ccc; top: 0;left: 0;opacity: 0.6;z-index: 100000;}

.panel_outer_wrapper{max-width: 400px; width: 100%;position:relative;float: left;margin: 10px;}
.panel_wrapper{width: 100%;height: 500px;border: 1px solid #ccc;margin: 16px 0;display: flex;flex-direction: column;}
.panel_wrapper .panel_head{display: flex; align-items: center; justify-content: space-between;padding: 0 16px;border-bottom: 1px solid #ccc;background-color: #fff;position: sticky;top: 0;}
.panel_wrapper .panel_head .head_option{cursor: pointer;}
.panel_wrapper .panel_head .head_option:hover{opacity: 0.7;}
.panel_wrapper .panel_body{background-color: #fff;height: 100%;overflow-y: auto;overflow-x: hidden;}
.panel_wrapper .panel_body .option{width:100%;padding: 16px;border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;}

.sx_tabs{display:flex;flex-wrap:wrap;margin-top: 24px;}
.sx_tabs label.tab_indicator{order:1;display:block;padding:1rem 2rem;margin-right:.2rem;cursor:pointer;background:#90caf9;font-weight:700;transition:background ease .2s}
.sx_tabs .tab{order:99;flex-grow:1;width:100%;display:none;padding:1rem;background:#fff}
.sx_tabs input[type=radio]{display:none}
.sx_tabs input[type=radio]:checked+label.tab_indicator{background:#fff}
.sx_tabs input[type=radio]:checked+label.tab_indicator+.tab{display:block}
@media (max-width:45em){.sx_tabs .tab,.sx_tabs label.tab_indicator{order:initial}
.sx_tabs label.tab_indicator{width:100%;margin-right:0;margin-top:.2rem}}

.sx_table{width:100%;max-width:900px;border:1px solid #eee}
.sx_table-header{display:flex;width:100%;background:#000;padding:14px 0}
.sx_table-row{display:flex;width:100%;padding:14px 0}
.sx_table-row:nth-of-type(odd){background:#eee}
.header__item,.sx_table-data{flex:1 1 20%;text-align:center}
.filter__link{color:#fff;text-decoration:none;position:relative;display:inline-block;padding-left:16px;padding-right:16px}
.filter__link::after{content:'';position:absolute;right:-18px;color:#fff;font-size:12px;top:50%;transform:translateY(-50%)}
.filter__link.desc::after{content:'(desc)'}
.filter__link.asc::after{content:'(asc)'}

/* popups  */
[sx-popups="wrapper"]{position: fixed;max-width: 300px;width: 100%;height: auto;bottom: 0;right: 0;z-index: 1000001;}
[sx-popups="container"]{margin-bottom: 15px; padding: 16px 12px;font-weight: bold;display: flex;justify-content: space-between;}
[sx-popups="container"][status="error"]{  background-color: #ffdddd; border-left: 6px solid #f44336;}
[sx-popups="container"][status="success"]{background-color: #ddffdd;border-left: 6px solid #04AA6D }
[sx-popups="container"][status="information"]{background-color: #e7f3fe;border-left: 6px solid #2196F3;}

/* Modal  */
[sx-modal="wrapper"]{width: 100%;position: fixed;height: 100vh; background-color: rgba(225, 225, 225,0.6); top: 0;left: 0;display: flex;justify-content: center;align-items: center;z-index: 100000;}
[sx-modal="wrapper"][small] [sx-modal="container"]{max-width: 400px;}
[sx-modal="wrapper"] [sx-modal="container"]{width: 100%;max-width: 800px;max-height: 70vh;background-color: #fff;}
[sx-modal="wrapper"] [sx-modal="container"] [sx-modal="head"]{position: sticky;top: 0; width: 100%; padding: 16px; background-color: #2196F3;display: flex;justify-content: space-between;align-items: center;font-weight: bold;color: #fff;}
[sx-modal="wrapper"] [sx-modal="container"] [sx-modal="head"] h2{color: #fff;font-size: x-large;}
[sx-modal="wrapper"][small] [sx-modal="container"] [sx-modal="head"] h2{font-size: medium;}
[sx-modal="wrapper"] [sx-modal="container"] [sx-modal="body"]{min-height: 15vh;}
[sx-modal="wrapper"][small] [sx-modal="container"] [sx-modal="body"]{min-height: 15vh;display: flex;align-items: center;justify-content: center;}
[sx-modal="wrapper"][small] [sx-modal="container"] [sx-modal="footer"],[sx-modal="wrapper"][small] [sx-modal="container"] [sx-modal="head"] [options]{display: none;}
[sx-modal="wrapper"] [sx-modal="container"] [sx-modal="footer"]{position: sticky;bottom: 0; width: 100%; padding: 16px; background:#fff;border-top:1px solid #ccc; display: flex;justify-content: space-between;align-items: center;font-weight: bold;color: #fff;flex-direction: row-reverse;}
[sx-modal="wrapper"] [sx-modal="container"] [right],[sx-modal="wrapper"] [sx-modal="container"] [left],[btn="default"]{align-self: flex-end;padding: 10px 16px;border: none;background-color: #45a049;border-radius: 0;color: #fff;}
[sx-modal="wrapper"] [sx-modal="container"] [not-important]{border:1px solid #f44336;background:#fff;color:#111}
[sx-modal="wrapper"] [sx-modal="container"] [right]:hover,
[sx-modal="wrapper"] [sx-modal="container"] [left]:hover{cursor: pointer;opacity: 0.8;}

/*
*   Buttons
*/
[btn="not-important"]{align-self: flex-end;padding: 10px 16px;border: none;background-color: transparent;border-radius: 0;color: #111;text-decoration: underline;cursor: pointer;}
[btn="default"]{align-self: flex-end;padding: 10px 16px;border: none;background-color: #45a049;border-radius: 0;color: #fff;}
[btn]:hover{opacity: 0.8;}

/*
*   Form
*/
.sx-form-wrapper input[type=text],.sx-form-wrapper input[type=file],.sx-form-wrapper textarea{width:100%;border:1px solid #ccc;border-radius:4px;box-sizing:border-box;margin-top:6px;margin-bottom:16px;resize:vertical}
.sx-form-wrapper input[type=file]{border: none;resize: none;}
.sx-form-wrapper input[type=submit]{background-color:#04AA6D;color:#fff;padding:12px 20px;border:none;border-radius:4px;cursor:pointer}
.sx-form-wrapper .sx-form-wrapper input[type=submit]:hover{background-color:#45a049}
.sx-form-wrapper{border-radius:5px;background-color:#f2f2f2;padding:20px}

#css-editor{width: 100%;height: 200px;}

.color-preview{width: 50px;height: 50px;border: none;border-radius: 5px;background-color: #fff;}